<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parnab's Realtime ChatterBox</title>
    <link rel="stylesheet" href="../static/css/index.css" type="text/css">
</head>

<body>
    <button id="samplebtn" style="display: none;">button-1</button>
    <nav>
        <img src="../static/media/logo.png" alt="My App" id="logo">
        <h1>Parnab's Realtime ChatterBox</h1>
    </nav>
    <div id="box">
        <h1>Welcome to the my Chatroom</h1>
        <form action="/" method="POST">
            <input type="text" placeholder="Enter your name" name="name" required><br>
            <button type="submit">Go to the Chatroom</button>
        </form>
    </div>
</body>

</html>